@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Andy Tran, A01266629</h1>
    <p> I would like to start freelancing web design after graduation!</p>
</div>
